<!-- <p>about works!</p> -->
<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum laborum, et, earum iusto reiciendis nulla magni, vero molestiae odit labore doloribus! In, similique asperiores temporibus quaerat ratione esse assumenda eveniet.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, ut quod, veniam earum minus fugiat dolorum officiis dolore, aliquam alias a. Tempore, atque in harum facilis autem quasi debitis obcaecati.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora quod eius vel! Dolorum, in itaque consequuntur fugiat alias beatae magnam cum consectetur deleniti totam velit vitae? Id maiores dignissimos aliquid.</p>

    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>
</section>
