.course{
    background-color: #eff6ff;
    padding: 50px 100px;
}

.box{
    background-color: hsl(0, 0%, 100%);
    padding: 10px 20px;
    width: 95%;
}

.box h4{
    font-size: 30px;
    font: bold;
}

.box p{
    font-size: 19px;
}



@media  screen and (max-width:600px) {
    .course{
        background-color: #eff6ff; 
        padding: 50px 10px;
    }   
}